.start-page{
  height:100%;
  // border: 1px solid white;
  padding: 2rem;
  .start-title{
    font-size:2.68rem;
    font-weight:900;
  }
  .start-project-list{
    padding: 3rem;

    .start-project-item{
      display:flex;
      align-items:center;
      justify-content:center;
      height: 60px;
      font-size:1.45rem;
      a{
        transition:0.4s all;
        padding:0.75rem;
      }
      &:hover{
        color: rgba(173, 17, 212, 1);
        a {background-color: #3d3d83;}
      }
    }
  }
}